<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Taks</h1>

    <% tasks.forEach(function(e){ %>
      <p class="secret-text"><%=e.task%>
      <button class="btn btn-light my-3" onclick="myFunction(event)" name=<%=e._id%>>Delete</button>
    </p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Task</a>
  </div>
</div>
<script>
  function myFunction(e) {
    const id = e.target.name;
    axios.delete(`http://localhost:3000/delete/${id}`).then((res)=>{
      window.location = "http://localhost:3000/secrets"
    }).catch((e)=>console.log(e));
  }
  </script>
<%- include('partials/footer') %>
